<section class="phx-hero">
  <h1>Welcome <%= @name %></h1>

  <p>You have <%= pluralize(1, "egg", "eggs") %></p>
  <p>You have <%= pluralize(2, "egg", "eggs") %></p>
  <p>You have <%= pluralize(-1, "egg", "eggs") %></p>


</section>
