/* This file is for your main application CSS */
@import "./phoenix.css";

.one-letter {
  color: #8888bb;
  font-size: 5rem;
  padding-right: 2rem;
  display: inline-block;
}

.one-letter.correct { color: #88bb88 }
.one-letter.wrong { color: #c61d1d }

.alphabet {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 0.3em 0.4em;
  margin-bottom: 40px;
}

.alphabet .one-letter {
  font-size: 2em;
  padding-right: 0.5rem;
  cursor: pointer;
}