/* This file is for your main application CSS */
@import "./phoenix.css";

#tally th {
  font-weight: normal;
}

#tally td {
  font-weight: bold;
  letter-spacing: 3px;
  text-transform: uppercase;
}

#tally + .good-guess, #tally + .won { color: green; }
#tally + .lost { color: red; }
#tally + .bad-guess, #tally + .already-used { color: orange }

#make_move_guess {
  max-width: 60px;
  font-size: 1.6rem;
  padding:0;
  margin:0;
  padding-left: 10px;
  text-transform: uppercase;
}