<div class="row">

    <div class="column">
        <pre>
        <%= stick_man(@tally.turns_left) %>
        </pre>
    </div>

    <div class="column">
        <%= render("_tally_info.html", tally: @tally) %>



        <%= status(@tally.status) %>

        <div>
            <%= next_move_or_restart(@conn, @tally.status) %>
        </div>
    </div>
</div>